
.vs/FrwkBootCampFidelidade/v16/.suo
*.cache
FrwkBootCampFidelidade.API/obj/Debug/net5.0/FrwkBootCampFidelidade.API.assets.cache
FrwkBootCampFidelidade.API/obj/Debug/net5.0/FrwkBootCampFidelidade.API.csproj.AssemblyReference.cache
FrwkBootCampFidelidade.API/obj/Debug/net5.0/FrwkBootCampFidelidade.API.GeneratedMSBuildEditorConfig.editorconfig
FrwkBootCampFidelidade.API/obj/FrwkBootCampFidelidade.API.csproj.nuget.dgspec.json
FrwkBootCampFidelidade.API/obj/FrwkBootCampFidelidade.API.csproj.nuget.g.props
FrwkBootCampFidelidade.API/obj/project.assets.json
FrwkBootCampFidelidade.API/obj/project.nuget.cache
FrwkBootCampFidelidade.Aplicacao/obj/Debug/net5.0/FrwkBootCampFidelidade.Aplicacao.assets.cache
FrwkBootCampFidelidade.Aplicacao/obj/Debug/net5.0/FrwkBootCampFidelidade.Aplicacao.GeneratedMSBuildEditorConfig.editorconfig
FrwkBootCampFidelidade.Aplicacao/obj/FrwkBootCampFidelidade.Aplicacao.csproj.nuget.dgspec.json
FrwkBootCampFidelidade.Aplicacao/obj/FrwkBootCampFidelidade.Aplicacao.csproj.nuget.g.props
FrwkBootCampFidelidade.Aplicacao/obj/project.assets.json
FrwkBootCampFidelidade.Aplicacao/obj/project.nuget.cache
FrwkBootCampFidelidade.Dominio/obj/Debug/net5.0/FrwkBootCampFidelidade.Dominio.assets.cache
FrwkBootCampFidelidade.Dominio/obj/Debug/net5.0/FrwkBootCampFidelidade.Dominio.csproj.AssemblyReference.cache
FrwkBootCampFidelidade.Dominio/obj/Debug/net5.0/FrwkBootCampFidelidade.Dominio.GeneratedMSBuildEditorConfig.editorconfig
FrwkBootCampFidelidade.Dominio/obj/FrwkBootCampFidelidade.Dominio.csproj.nuget.dgspec.json
FrwkBootCampFidelidade.Dominio/obj/FrwkBootCampFidelidade.Dominio.csproj.nuget.g.props
FrwkBootCampFidelidade.Dominio/obj/project.assets.json
FrwkBootCampFidelidade.Dominio/obj/project.nuget.cache
FrwkBootCampFidelidade.Infraestrutura/obj/Debug/net5.0/FrwkBootCampFidelidade.Infraestrutura.assets.cache
FrwkBootCampFidelidade.Infraestrutura/obj/Debug/net5.0/FrwkBootCampFidelidade.Infraestrutura.csproj.AssemblyReference.cache
FrwkBootCampFidelidade.Infraestrutura/obj/Debug/net5.0/FrwkBootCampFidelidade.Infraestrutura.GeneratedMSBuildEditorConfig.editorconfig
FrwkBootCampFidelidade.Infraestrutura/obj/FrwkBootCampFidelidade.Infraestrutura.csproj.nuget.dgspec.json
FrwkBootCampFidelidade.Infraestrutura/obj/FrwkBootCampFidelidade.Infraestrutura.csproj.nuget.g.props
FrwkBootCampFidelidade.Infraestrutura/obj/project.assets.json
FrwkBootCampFidelidade.Infraestrutura/obj/project.nuget.cache
FrwkBootCampFidelidade.Teste/obj/Debug/net5.0/FrwkBootCampFidelidade.Teste.assets.cache
FrwkBootCampFidelidade.Teste/obj/Debug/net5.0/FrwkBootCampFidelidade.Teste.GeneratedMSBuildEditorConfig.editorconfig
FrwkBootCampFidelidade.Teste/obj/FrwkBootCampFidelidade.Teste.csproj.nuget.dgspec.json
FrwkBootCampFidelidade.Teste/obj/FrwkBootCampFidelidade.Teste.csproj.nuget.g.props
FrwkBootCampFidelidade.Teste/obj/project.assets.json
FrwkBootCampFidelidade.Teste/obj/project.nuget.cache
